################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Infal/DesignTimeBuild/.dtbcache.v2
/.vs/Infal/FileContentIndex/fba044e0-6332-49ca-abd6-501cb7823ec4.vsidx
/.vs/Infal/FileContentIndex/dd75c366-337e-4968-b9e7-ca67b60731cf.vsidx
/.vs/Infal/FileContentIndex/ccebe62b-b222-42de-ad7a-ccbda4d10ed2.vsidx
/.vs/Infal/FileContentIndex/aee3b61f-1d1f-4015-8b4e-69082df5a905.vsidx
/.vs/Infal/FileContentIndex/85e60c06-17d8-4f64-aa71-de1a9ef57844.vsidx
/.vs/Infal/FileContentIndex/638e1ec8-285c-4408-8524-f6c517aac1bb.vsidx
/.vs/Infal/FileContentIndex/3a51b128-e6cb-4561-a5b5-5c3235ecd2e2.vsidx
/.vs/Infal/FileContentIndex/1d4e49fe-bd50-496c-8abb-c2c81fa11cde.vsidx
/.vs/Infal/v17/.suo
/Infal/ClientApp/src/components/Dashboard.js
/.vs/Infal/v17/.futdcache.v2
/.vs/ProjectEvaluation/infal.metadata.v6.1
/.vs/ProjectEvaluation/infal.projects.v6.1
/Infal.DB/bin/Debug/net7.0/Infal.DB.dll
/Infal.DB/bin/Debug/net7.0/Infal.DB.pdb
/Infal.DB/obj/Debug/net7.0/ref/Infal.DB.dll
/Infal.DB/obj/Debug/net7.0/refint/Infal.DB.dll
/Infal.DB/obj/Debug/net7.0/Infal.DB.dll
/Infal.DB/obj/Debug/net7.0/Infal.DB.pdb
/Infal.Service/bin/Debug/net7.0/Infal.Service.pdb
/Infal.Service/bin/Debug/net7.0/Infal.Service.dll
/Infal.Service/bin/Debug/net7.0/Infal.DB.pdb
/Infal.Service/bin/Debug/net7.0/Infal.DB.dll
/Infal.DB/obj/Debug/net7.0/Infal.DB.csproj.CoreCompileInputs.cache
/Infal.Service/obj/Debug/net7.0/ref/Infal.Service.dll
/Infal.Service/obj/Debug/net7.0/refint/Infal.Service.dll
/Infal.Service/obj/Debug/net7.0/Infal.Service.pdb
/Infal.Service/obj/Debug/net7.0/Infal.Service.dll
/Infal.Service/obj/Debug/net7.0/Infal.Service.csproj.CoreCompileInputs.cache
/Infal.Service/obj/Debug/net7.0/Infal.Service.csproj.AssemblyReference.cache
/.vs/Infal/FileContentIndex/20e043c5-aa2d-4680-b46e-3c3c1ff5a50f.vsidx
