.SideBar {
    width: 4rem;
    height: 39rem;
    margin-left: -1rem;
}

.LeftSpaceTop {
    margin-left: 14rem;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    margin-top: 0px !important;
    width: 100% !important;
}

.dropdown-link {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
}

    .dropdown-link p {
        font-size: 0.8rem;
        color: var(--medium-grey);
    }

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menuHead {
    margin-left: 1rem;
}
